@charset "utf-8";

*{
    margin:0; 
    padding:0;
    border:0;
}

h1{
  font-weight: bold;
  font-family: 'Berkshire Swash', ; 
  font-size: 400%;
  text-align: center;
  margin-left:0;
  margin-right:0;
}
.chocolate{
   color: #FFFFFF; 
}
.strawberry{
    color:#EC1115
}
.birthday{
color:#EF5306;
}
.vanilla{
color: #D68909;
}
.parallax1, .parallax2, .parallax3, .parallax4{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top:20%;
    padding-bottom:30%;
}
.parallax1{
    background-image: url("./images/chocolate-cupcakes.jpg");
}
.parallax2{
    background-image: url("./images/strawberry-cupcake.jpg");
}
.parallax3{
    background-image: url("./images/birthday-cupcakes1.jpg");
}
.parallax4{
    background-image: url("./images/vanilla-cupcakes.jpg");
}
