@charset "utf-8";

*{
    margin:0; 
    padding:0;
    border:0;
}

h1{
  font-weight: bold;
  font-family: 'Berkshire Swash', ; 
  font-size: 400%;
  text-align: center;
  margin-left:0;
  margin-right:0;
}
.chocolate{
   color: #FFFFFF; 
}
.strawberry{
    color:#EC1115
}
.birthday{
color:#EF5306;
}
.vanilla{
color: #D68909;
}
