@charset "utf-8";

html, body{
margin:0;
padding:0;

}

h1{
  font-weight: bold;  
}
.chocolate{
   color: #FFFFFF; 
}
.strawberry{
    color:#EC1115
}
.birthday{
color:#EF5306;
}
.vanilla{
color: #D68909;
}
